
/* imports the exibição Montserrat font from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --main-color: #ffdaea
    --text-color: #000000

    /* extra */

    --color-01: #5c0d35;
    --color-02: #d7007a;
    --color-03: #ff88da;
    --color-04: #92144daf;
    --color-05: #e362a259;
    --color-06: #930e51;
    --color-07: #b70e63
    --color-08: #d7009a; 

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
    border: none;
    outline: none;
    scroll-behavior: smooth;
}


html {
    font-family: "Libre Baskerville", serif;
    font-size: px;
}

body{
    background-color: var(--color-05); 
    color: var(--color-06);
}

header{
    position: fixed;
    top: 0;
    left:0;
    width:100%;
    padding: 1.1rem;
    background-color: var(--color-04);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    color: #930e51; 
    border: solid 1px #930e51;
}

.logo{
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: defeault;
}

.nav a{
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    transition: 0.4s;

    border: solid 1px var(--color-03); /* test */
}

.nav a:hover {
    color:var(--color-03);
}

section {
    min-height: 90vh;
    padding: 6rem 6rem 2rem;
    border: solid 1px var(--color-02); 
}


span {
color: var(--color-06)
}

.home, .sobre {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.home-img {
    border-right: solid 0.4rem;
    border-bottom: solid 0.4rem;
    border-image: linear-gradient(140deg, transparent 50%, rgb(183, 14, 99)) 4;
}

.sobre-img {
    border-left: solid 0.4rem;
    border-bottom: solid 0.4rem;
    border-image: linear-gradient(225deg, transparent 50%, #b70e63) 4;
}

.sobre-img img {
    width: 30vmax;
}

.home-img {
    width: 40vmax;
}

.sobre {
    background-color: var(--main-color);
}

.home-content, .sobre-content {
    width: 45%;
}

.home-content h1, .sobre-content h1 {
    font-weight: 700;
    line-height: 1.3;

    font-size: 2.7rem; /* test*/
}

.home-content h3, .sobre-content h3 {
    font-weight: 700;
    font-size: 1.6rem;
}

.sobre-content p {
    width: 45%;
    margin-top: 1.2rem;
    text-align: justify;
}

.home-content p {
    width: 100%;
    margin-top: 1.2rem;
    text-align: justify;
}

.competencias h2, 
.cursos h2,
.contato h2 { 
    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.competencias-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.competencias-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 2rem;
    margin-bottom: 1rem;
}

.competencias-container .competencias-box{
    padding: 2rem 2rem 2.5rem;
    border-radius: 1.2rem;
    text-align: center;
    border: solid 0.15rem #5c0731;
    background-color: #d3257c61;
    transition: 0.5s ease;
}

.competencias-container .competencias-box:hover {
    border-color:#ff00ae;
    transform: scale(1.01);
}

.competencias-box i {
    font-size: 9rem;
    color: #5c0731;
}

.competencias-box h3 {
    font-size: 2rem;
}

.competencias-box p {
    margin: 0.5rem;
    letter-spacing: 0.1rem;
    /* n lines */
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cursos h1 {
    text-align: center;
    font-size: 220%;
}



.grid-layout {
    display: grid;
    column-gap: 80px;
    grid-template-columns: auto auto;
    padding: 20px;
}

.grid-item {
    background-color: var(--color-05);
    border: 2px solid #d7007a;
    border-radius: 8px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    transition: transform 1s linear;
}

.grid-item img {
    width: 100%;
    height: 100%;
}

.grid-item:hover {
    transform: scale(1.1);
}

 
form {
    max-width: 45rem;
    margin: 0.6rem auto;
    text-align: center;
    margin-bottom: 2rem;

    
}

form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .input-box input {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: var(--text-color);
    background-color: #ffdaea;
    border-radius: 0.5rem;
    margin: 0.4rem 0;

    border: solid 1px var(--color-06); /* test */
}

form textarea {
    padding: 1rem;
    font-size: 1rem;
    color: var(--text-color);
    background-color: #ffdaea;
    border-radius: 0.5rem;
    margin: 0.4rem 0;
    border: solid 1px var(--color-06); /* test */
    width: 95%;
    resize: none;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    background-color: var(--color-06);
    color:  #ffdaea;
}

.social-media {
    width: 3.5rem;
}

.social-media a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border: solid 0.15rem var(--color-06);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--color-06);
    margin: 1.8rem 0.5rem;
    transition: 0.5s ease;
    /* margin: 1.8rem 1rem 1.8rem 0; */
}

.social-media a:hover {
    background-color: var(--color-06);
    color: var(--color-03);
    box-shadow: 0 0 0.3rem;
}

/*==== button ====  */
.btn {
    display: inline-block;
    color: #ff88da;
    padding: 0.7rem 1.8rem;
    background-color: #ab0f5d;
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: 0.3s ease;
    margin-top: 1.2rem;
}

.btn:hover {
    box-shadow: 0 0 0.3rem var(--color-07);
    background-color: inherit;
    color: var(--color-07);
    cursor: pointer;
}
/*==== button ====  */

.btn-btn {
    display: inline-block;
    color: #ff88da;
    padding: 0.7rem 1.8rem;
    background-color: #ab0f5d;
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: 0.3s ease;
    margin-top: 1.2rem;
}

.btn-btn:hover {
    box-shadow: 0 0 0.3rem var(--color-07);
    background-color: var(--color-05);
    color: var(--color-07);
    cursor: pointer;
}

footer {
    background-color: #86b7f6c8;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

.footer-title {
    font-size: 1.5rem;
    color: #2a4bc4;;
}

footer ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

footer ul li {
    margin: 10px 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: thin;
}

footer ul li a:hover {
    color: #2a4bc4;
    transition: 0.4s ease-in-out;
}

.socials {
    display: flex;
    justify-content: center;
    margin-block: 20px;
    width: 100%;
}

.socials a {
    color: #3e5fd6a5;;
    font-size: 1.1rem;
}

.socials a:hover {
    color: #081649;
    transition: 1s ease-in-out;
}

.info {
    display: flex;
    justify-content: center;
    margin-block: 20px;
    gap: 20px;
}

.footer-list_header {
    font-size: 0.9rem;
    color: #2a4bc4;
}

footer p{
    color: #2a4bc4;
}

@media screen and (max-widht: 600px) {
    .info {
        flex-direction: column;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}